.header-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2rem;
}

.header-carousel-left {
  text-transform: uppercase;
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 3.188rem;
  margin-bottom: 0.75rem;
}

/* image */
@media only screen and (max-width: 1339px) {
  .achivement-image {
    width: auto !important;
    margin: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .header-carousel {
    flex-direction: column;
    align-items: center;
  }
  .header-carousel-left {
    margin-bottom: 1rem;
  }
}
