.container {
  margin: 0 1rem;
}

.box-content {
  box-sizing: border-box;
  margin: 5rem;
  width: 55%;
  height: 58%;
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.26);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.box-warp-content {
  height: 100%;
  width: 100%;
}
.box-warp-content:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@keyframes appear_element {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.box-warp-content:hover > div .btn-view-detail {
  display: block;
}

.btn-view-detail {
  height: 1.688rem;
  font-size: 0.875;
  line-height: 1.5rem;
  width: 100%;
  height: 1.5rem;
  display: none;
  opacity: 1;
  animation: appear_element 1s;
}


.box-content-name {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.625rem;
  width: 100%;
  text-align: center;
  /* // whiteSpace: nowrap; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
}
@media only screen and (max-width: 767px) {
  .box-content {
    width: 75%;
    margin: 5rem 2.5rem;
  }
  .box-content-name {
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  .box-content {
    width: 75%;
    margin: 5rem 2.5rem;
  }
  .box-content-name {
    height: auto;
  }
}
